body{
    background: #11111116;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    background: white;
}
.content{
    flex: 1;
    background-size: cover;
    background-image: url(/image/loss-control.jpg);

}
h1{
    color: palevioletred;
    font-weight: bolder;
    width: 90%;
    padding: 15px;
    background-color: rgb(255, 232, 246)
}

.button{
    margin-top: 10px;
    text-align: center;
}
button{
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    background: rgb(252, 82, 139);
}
a{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(228, 79, 129);
    display: flex;
    justify-content: center;
}
.content-1{
    flex: 1;

}
.card{
    margin: auto;
    width: 80%;
    height: 80vh;
}
img{
    width: 30%;
    margin-left: 30%;    
}
h2{
    text-align: center;
}
.form-group input{
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 2;
    border: 1px solid #1111113c;
    margin-top: 0.7rem;
    box-sizing: border-box;
}